<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" href="/images/weather.png" />
</head>

<body>
    <div class="main-content">
        {{> header }}
        <p>Learning node through Andrew Mead's <a
                href="https://www.udemy.com/the-complete-nodejs-developer-course-2">Udemy</a> a course.</p>
        <p>Utilising <a href="https://darksky.net">Dark Sky</a> and <a href="https://www.mapbox.com/">mapbox</a> APIs.
        </p>
        <img class="portrait" src="/images/honda.jpg">
    </div>


    {{> footer}}
</body>

</html>